.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
.vscode/
logs/*
*.txt
*~$*

data/D3_study_variables/*
!data/D3_study_variables/.gitkeep

configuration/*
!configuration/config_T3.yaml
!configuration/config_test.yaml

transformations/common_configuration/*
!transformations/common_configuration/.gitkeep
